* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

* {
  font-family: "Montserrat", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header__container {
  position: fixed;
  width: 15%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  text-align: center;
  z-index: 1;
  display: none;
}
@media (min-width: 992px) {
  .header__container {
    display: block;
  }
}

.nav__container__list {
  height: 40vh;
  margin: 3rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.nav__container__socials {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}
.nav__container__socials--link {
  margin: 0 0.5rem;
}

.hero {
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.hero__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
@media (min-width: 992px) {
  .hero__video {
    left: 15%;
  }
}
.hero__content {
  position: absolute;
  top: 40%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
  text-align: center;
}
@media (min-width: 992px) {
  .hero__content {
    transform: translate(-50%, -45%);
  }
}
.hero__content h1 {
  font-size: 42px;
  white-space: nowrap;
  margin-bottom: 1rem;
}
.hero__content p {
  margin-bottom: 1rem;
  font-size: 18px;
}
.hero__content strong {
  border-bottom: 2px solid #f86c37;
}
.hero__content a {
  font-weight: 600;
  color: #f86c37;
}
.hero__content a:hover {
  text-decoration: underline;
}

.scroll {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
@media (min-width: 992px) {
  .scroll {
    transform: translate(-45%);
  }
}

span {
  display: block;
  text-align: center;
}

.header__container {
  background-color: #272728;
  color: #fff;
}
.header__container--title {
  font-size: 42px;
  background-color: #000;
  color: #fff;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 1rem auto;
  text-align: center;
  line-height: 120px;
  letter-spacing: 3px;
  box-shadow: 0 0 8px #fff, inset 0 0 8px #f86c37;
}

.nav__container__list a {
  font-size: 18px;
  color: #fff;
  transition: 0.3s ease;
}
.nav__container__list a:hover {
  color: #fa9068;
  text-decoration: underline;
}

.nav__container__socials a {
  color: #f86c37;
  transition: 0.4s ease;
}
.nav__container__socials a:hover {
  color: #f34909;
  transform: rotate(360deg);
}

.hamburger {
  width: 40px;
  height: 40px;
  background-color: #f86c37;
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  border-radius: 2px;
  z-index: 1;
}
@media (min-width: 992px) {
  .hamburger {
    display: none;
  }
}
.hamburger:hover {
  background-color: #fa9068;
}

.ham-bar {
  width: 70%;
  height: 3px;
  background-color: #fff;
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bar-top {
  top: 25%;
}

.bar-bottom {
  top: 75%;
}

.hamburger.active .bar-top {
  transform: translate(-50%, -50%) rotate(-315deg);
  top: 50%;
}

.hamburger.active .bar-mid {
  opacity: 0;
}

.hamburger.active .bar-bottom {
  transform: translate(-50%, -50%) rotate(-225deg);
  top: 50%;
}

/*# sourceMappingURL=index.css.map */
