

//Flexbox Mixin
@mixin flexbox($direction: row, $wrap: wrap, $justify: null, $align: null){
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content: $justify;
    align-items: $align
}


//Media query 
@mixin mq($size){
    @if $size == "small"{
        @media(min-width: $small){
            @content;
        }
    } 

    @else if $size == "medium"{
        @media(min-width: $medium){
            @content;
        }
    }
    @else if $size == "large"{
        @media(min-width: $large){
            @content;
        }
    }
    @else if $size == "xlarge"{
        @media(min-width: $xlarge){
            @content;
        }
    }
    @else {
       @error "#{$size} is not a valid screensize"
    }
}
 