

//Typorgraphy 
$base-font: 'Montserrat', sans-serif;


//Colours
$primary-color: rgb(248,108,55, 0.9);
$secondary-color: #272728;
$white: #fff;
$black: #000;

//Breakpoints
$small: 576px;
$medium: 768px;
$large: 992px;
$xlarge: 1200px;