.sidenav__container{
    position: fixed;
    width: 15%;
    height: 100%;
    @include flexbox(column, nowrap, null, center);
    text-align: center;
    padding-top: 1rem;
    z-index: 1;
    //Hide side bar on mobile 
    display: none;
    //Show side bar on large screens 
    @include mq(large){
        display: block;
    }
}

//Large Screen Nav List
.nav__container__list{
    height: 40vh;
    margin: 3rem;
    @include flexbox(column, nowrap, space-evenly);
}

.nav__container__socials{
    @include flexbox(row, nowrap, center);

    a{
        margin: 0 0.5rem;
    }
}

//MOBILE NAV OVERLAY
.mobile-menu{
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0;
    

    //MOBILE NAV LIST 
    ul{
        @include position(absolute, 25%, 50%);
        transform: translate(-50%);
        height: 25%;
        @include flexbox(column, nowrap, space-between, center);
    }
}

.mobile-menu.active{
    opacity: 1;
    z-index: 2;
}