.grid__container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;


    @include mq(medium){
        grid-template-columns: 1fr 1fr;
    }
}

//Grid item images 
.grid-img-container{
    width: 100%;
    height: 150px;


    @include mq(large){
        height: 300px;
    }
}

.grid-img{
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.info--icons img{
    width: 30px;
}

