.grid__container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;


    @include mq(medium){
        grid-template-columns: 1fr 1fr;
    }
}

//Grid item images 
.grid-img-container{
    width: 100%;
    height: 225px;
}

.grid-img{
    width: 100%;
    height: 100%;
}

.info--icons img{
    width: 30px;
}