.sidenav__container{
    background-color: transparent;
    background-color: rgba(0,0,0,0.9);
  
    &--title{
        font-size: 42px;
        color: $white;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        margin: 0 auto;
        text-align: center;
        line-height: 120px;
        letter-spacing: 3px;
    }
}

//Side Nav item styles
.nav__container__list{
    a{
        font-size: 18px;
        color: $primary-color;
        font-weight: 600;
        transition: 0.3s ease;
    }

    a:hover{
        color: darken($primary-color, 10);
        text-decoration: underline;
    }
}



//Mobile Nav Styles
.mobile-menu{
    background-color: rgba(188,172,165,0.9);
    transition: 0.5s ease;
    //Nav Links
    a{
        font-weight: 600;
        color: $black;
    }
}