//pORTFOLIO TITLE 
.portfolio h2{
    padding: 1rem 0;
}

//Each grid item 
.grid__container__item{
    border-radius: 3px;
    transition: 0.3s ease;
    background-color: $white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

    a{
        color: $black;
    }

    &:hover{
        transform: scale(1.025);
        background-color: darken($white, 12);
    }
}

//Info section of card
.info{
    padding: 1rem;

    p{
        font-size: 20px;
        font-weight: 600;
    }

    .view{
        text-align: left;
    }

    .view:hover{
        text-decoration: underline;
    }

    &--icons{
        margin: 0.75rem 0;
    }
}