*{
    font-family: $base-font;
    scroll-behavior: smooth;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

hr{
    height: 2px;
    background-color: $black;
    border: none;
    margin: 2rem;
}

//Page Layout
.body-wrapper, .footer{
    position: relative;
    background-color: $primary-color;
    // background-color: black;
    @include mq(large){
        margin-left: 15%;
    }

    section{
        width: 85%;
        margin: 0 auto;
    }
}


//Social icon styles
.social-icons{
    color: $primary-color;
    transition: 0.4s ease;

    &:hover{
        color: darken($primary-color, 10);
        transform: rotate(360deg);
    }
}
